@using MCServerManager.Models
@model BackgroundServiceDetail

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
    <div class="checkbox">
        <label class="col-md-12 control-label">
            <input asp-for="AutoStart" /> Автозапуск вместе с включением сервера
            <span asp-validation-for="AutoStart" class="text-danger"></span>
        </label>
    </div>
</div>
<div class="mb-3">
    <div class="checkbox">
        <label class="col-md-12 control-label">
            <input asp-for="AutoClose" /> Автовыключение вместе с сервером
            <span asp-validation-for="AutoClose" class="text-danger"></span>
        </label>
    </div>
</div>
<div class="mb-2">
    <label asp-for="Delay" class="form-label"></label>
    <input asp-for="Delay" class="form-control" min="0" max="7200" />
    <span asp-validation-for="Delay" class="text-danger"></span>
    <div class="form-text">Задержка перед полным запуском в секундах, максимум 2 часа (7200 секунд)</div>
</div>
<div class="mb-2">
    <label asp-for="WorkDirectory" class="form-label"></label>
    <input asp-for="WorkDirectory" class="form-control" />
    <span asp-validation-for="WorkDirectory" class="text-danger"></span>
</div>
<div class="mb-2">
    <label asp-for="StartProgram" class="form-label"></label>
    <input asp-for="StartProgram" class="form-control" />
    <span asp-validation-for="StartProgram" class="text-danger"></span>
    <div class="form-text">Пример: java или C:\App\Programm.exe</div>
</div>
<div class="mb-2">
    <label asp-for="Arguments" class="form-label"></label>
    <input asp-for="Arguments" class="form-control" />
    <span asp-validation-for="Arguments" class="text-danger"></span>
    <div class="form-text">Пример: -Xmx1024M -Xms1024M -jar server.jar nogui</div>
</div>
<div class="mb-2">
    <label asp-for="Address" class="form-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="mb-1">
    <label asp-for="Port" class="form-label"></label>
    <input asp-for="Port" class="form-control" />
    <span asp-validation-for="Port" class="text-danger"></span>
    <div class="form-text">Стандартный порт для Minecraft: 25565 – Java Edition, 19132-19133 – Bedrock Edition</div>
</div>