@using MCServerManager.Models
@model BackgroundServiceDetail

<div class="form-group">
    <label asp-for="Name" class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label class="col-md-10 control-label">
                <input asp-for="AutoStart" /> Автозапуск вместе с включением сервера
                <span asp-validation-for="AutoStart" class="text-danger"></span>
            </label>
        </div>
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label class="col-md-10 control-label">
                <input asp-for="AutoClose" /> Автовыключение вместе с сервером
                <span asp-validation-for="AutoClose" class="text-danger"></span>
            </label>
        </div>
    </div>
</div>
<br />
<div class="form-group">
    <label asp-for="WorkDirectory" class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input asp-for="WorkDirectory" class="form-control" />
        <span asp-validation-for="WorkDirectory" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Programm" class="col-md-10 control-label"></label>
    <div class="col-md-10">
        @if (string.IsNullOrEmpty(Model.Programm))
        {
            <input asp-for="Programm" class="form-control" value="java" />
        }
        else
        {
            <input asp-for="Programm" class="form-control" />
        }
        <span asp-validation-for="Programm" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Arguments" class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Arguments" class="form-control" />
        <span asp-validation-for="Arguments" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Address" class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Port" class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Port" class="form-control" min="1024" max="65535" />
        <span asp-validation-for="Port" class="text-danger"></span>
    </div>
</div>