@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MС Server Manager</h1>
    <p>Minecraft Server Manager позволяет управлять серверами Minecraft, получать списки игроков на сервере и<br> выполнять консольные команды.</p>
</div>
