@model (int PageIndex, int PageCount);

<nav aria-label="Server list navigation">
    <ul class="pagination justify-content-center">
        @for (int webpage = 1; webpage <= Model.PageCount; webpage++)
        {
            @if (Model.PageIndex == webpage)
            {
                <li class="page-item active">
                    <span class="page-link">@webpage</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-page="/Server/List" asp-route-PageIndex="@webpage" class="page-link">@webpage</a>
                </li>
            }
        }
    </ul>
</nav>
