@page "{serverId:guid}"
@model MCServerManager.Pages.Server.EditModel
@{
}

<form method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="/Pages/Application/_EditApplicationPartial.cshtml" model="Model.Input" />
    <partial name="_EditServerPartial" model="Model.Input" />
    <br />
    <div class="form-group">
        <div class="col-md-offset-10 col-md-10">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</form>
<br />
<a asp-page="/Server/Server" asp-route-serverId="@Model.Id"><К серверу</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}